<div class="container-fluid">
  <filter-section [countData]="gridData" (sortGrid)="gridSort($event)" [tagDeleted]="isTagDeleted" (tagsData)="filteredTags($event)" [originalData]="tempGridData"
    (filteredData)="filterAgeData($event)"></filter-section>
  <div class="container-fluid grid-class">
    <tags-section [selectedTagData]="chipsData" (removedChip)="deleteTag($event)" (tagsData)="filteredTags($event)"
      [tableData]="gridData" [originalData]="tempGridData"></tags-section>
    <table-section [tableData]="gridData" [gridDataSort]="sortGridData"></table-section>
  </div>
</div>
